@charset "utf-8";
/*
@Name：《昱杰后台UI框架》
@Author：风形火影
@Site：https://www.yjrj.top
*/
* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    background: #F3F3F3;
    font-family: "宋体", serif;
}

.tip {
    background: #f9f9f9;
    max-width: 750px;
    height: 100%;
    margin: 0 auto;
    padding: 50px 20px;
    box-sizing: border-box;
}
.tip p {
    margin: 0 0 15px 0;
    line-height: 25px;
    font-size: 16px;
    text-align: center;
}
.tip p.iconfont {
    margin: 0 0 22px 0;
    font-size: 60px;
    height: 60px;
    line-height: 60px;
}
.tip p a {
    text-decoration: underline;
    color: #666;
}
.tip p.location a {
    font-size: 12px;
}