{extend name="../../common/view/public/base" /}

{block name="title"}管理{/block}

{block name="head"}<script type="text/javascript">
CONFIG['PAGE_SIZE'] = {:config('app.page_size')};
CONFIG['TOTAL'] = {$Total};
CONFIG['LIST'] = window.location;
CONFIG['OUTPUT'] = '{:url("/".parse_name(request()->controller())."/output")}';
CONFIG['FILE_CONTROLLER'] = '{:url("/file/index")}';
</script>{/block}

{block name="main"}
<div class="tool">
  <div class="row1">
    <h2>登录记录</h2>
  
    <div class="button">
      {if condition="isPermission('output')"}<input type="button" value="导出并清空" class="button output">{/if}
    </div>
  
    <form method="get" action="" class="search layui-form" onsubmit="return false;">
      <select name="manager_id" lay-search lay-filter="manager_id"><option value="0">查看所有管理员</option>{$Manager}</select> <select name="way_id" lay-search lay-filter="way_id"><option value="0">查看所有登录方式</option>{$LoginWay}</select> <div class="search-text"><input type="text" name="keyword" value="{:input('get.keyword')}" class="text"><span class="iconfont icon-search"></span></div>
    </form>
  
    <p class="clear"></p>
  </div>
</div>

<div class="list">
  {if condition="$Total>0"}
  <table>
    <thead><tr class="row1"><th style="width:200px;">管理员</th><th style="width:100px;">登录方式</th><th style="width:450px;">登录IP</th><th style="width:160px;">登录时间</th></tr></thead>
    <tbody class="items"></tbody>
  </table>

  <div class="pagination"><ul></ul></div>
  {else/}
  <p class="nothing"></p>
  {/if}
</div>
{/block}