{extend name="../../common/view/public/base" /}

{block name="title"}数据{/block}

{block name="head"}<script type="text/javascript">
CONFIG['PAGE_SIZE'] = {:config('app.page_size')};
CONFIG['TOTAL'] = {$Total};
CONFIG['LIST'] = window.location;
CONFIG['ZIP'] = '{:url("/".parse_name(request()->controller())."/zip")}';
CONFIG['DOWNLOAD'] = '{:url("/".parse_name(request()->controller())."/download")}';
CONFIG['DELETE'] = '{:url("/".parse_name(request()->controller())."/delete")}';
</script>{/block}

{block name="main"}
<div class="tool">
  <div class="row1">
    <h2>文件管理</h2>
  
    <input type="hidden" name="ids">
  
    <div class="button">
      {if condition="isPermission('zip')"}<input type="button" value="打包文件" class="button disabled must_select zip1" disabled>
      <input type="button" value="打包并删除源文件" class="button disabled must_select zip2" disabled>{/if}
      {if condition="isPermission('delete')"}<input type="button" value="批量删除" class="button disabled must_select delete" disabled>{/if}
    </div>
  
    <form method="get" action="" class="search layui-form" onsubmit="return false;">
      <select name="type" lay-search lay-filter="type"><option value="0">查看所有文件类型</option>{$Type}</select> <div class="search-text"><input type="text" name="keyword" value="{:input('get.keyword')}" class="text"><span class="iconfont icon-search"></span></div>
    </form>
  
    <p class="clear"></p>
  </div>
</div>

<div class="list">
  {if condition="$Total>0"}
  <table class="{if condition="isPermission('zip')||isPermission('delete')"}left-fix{/if}{if condition="isPermission('download')||isPermission('delete')"} right-fix{/if}">
    <thead><tr class="row1">{if condition="isPermission('zip')||isPermission('delete')"}<th style="width:60px;"><div class="check-box"><label><input type="checkbox" class="all">全选</label></div></th>{/if}<th style="width:400px;">文件名</th><th style="width:160px;">文件类型</th><th style="width:100px;">文件大小</th>{if condition="isPermission('download')||isPermission('delete')"}<th style="width:80px;">操作</th>{/if}</tr></thead>
    <tbody class="items"></tbody>
  </table>

  <div class="pagination"><ul></ul></div>
  {else/}
  <p class="nothing"></p>
  {/if}
</div>
{/block}