<!doctype html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0">
<title>{:config('system.web_name')}-微信支付</title>
<base href="{:config('url.web1')}">
<script type="text/javascript" src="static/library/jquery/jquery.js?{:staticCache()}"></script>
<link rel="stylesheet" type="text/css" href="static/index/css/{:parse_name(request()->controller())}.css?{:staticCache()}">
<script type="text/javascript">
$(function(){
  setInterval(function(){
    $.ajax({
      type: 'POST',
      url: '{:url("/".parse_name(request()->controller())."/wechatPayAjax")}',
      data: {
        order_id: '{:input("order_id")}'
      },
      success: function(data){
        if (data === '2') window.location.href = '{:url("/".parse_name(request()->controller())."/wechatPayTip",["order_id"=>input("order_id")])}';
      }
    });
  },1000);
});
</script>
</head>

<body>
<div class="pay">
  <p>请在微信端完成支付</p>
</div>
</body>
</html>