<script type="text/javascript" src="static/admin/js/{:parse_name(request()->controller())}_form.js?{:staticCache()}"></script>

<form method="post" action="" class="form layui-form {:request()->action()}" onsubmit="return false;">
  <table>
    <tr><td>帐　　号：</td><td><input type="text" name="name" value="{$One['name']}" class="text"></td></tr>
    <tr><td>密　　码：</td><td><input type="password" name="pass" class="text"></td></tr>
    <tr class="tip"><td></td><td>留空则不修改</td></tr>
    <tr><td>重复密码：</td><td><input type="password" name="repass" class="text"></td></tr>
    {if condition="$One['id']!=1"}
    <tr><td>身　　份：</td><td>{$Level}</td></tr>
    <tr><td>是否激活：</td><td>{$IsActivation}</td></tr>
    <tbody class="permit">
    <tr><td>权 限 组：</td><td><select name="permit_group_id" lay-search>{$PermitGroup}</select></td></tr>
    <tr><td>订单权限：</td><td>{$OrderPermit}</td></tr>
    <tr class="tip"><td></td><td>设置对普通管理员订单开放的权限，为普通管理员分配了订单模块的管理权限后，此设置才可生效（超级管理员不受限）</td></tr>
    </tbody>
    {/if}
  </table>
</form>