<!doctype html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0">
<title>{:config('system.web_name')}-提示</title>
<base href="{:config('url.web1')}">
<script type="text/javascript" src="static/library/jquery/jquery.js?{:staticCache()}"></script>
<script type="text/javascript" src="static/yj.admin.ui/js/tip.js?{:staticCache()}"></script>
<link rel="stylesheet" type="text/css" href="static/yj.admin.ui/iconfont/iconfont.css?{:staticCache()}">
<link rel="stylesheet" type="text/css" href="static/yj.admin.ui/iconfont/iconfont_extra.css?{:staticCache()}">
<link rel="stylesheet" type="text/css" href="static/yj.admin.ui/css/tip.css?{:staticCache()}">
<script type="text/javascript">
let CONFIG = {
  TYPE: '{$Type}',
  TIP_CONTENT: ``,
  LOCATION_URL: '{$LocationUrl}',
  LOCATION_CONTENT: '{$LocationContent}',
  LOCATION_SECOND: {$LocationSecond}
};
</script>
</head>

<body>
<div class="tip">
  <p class="iconfont color"></p>
  <p class="tip_content">{$TipContent}</p>
  <p class="location"><a></a></p>
</div>
</body>
</html>