<!doctype html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0">
<title>{:config('system.web_name')}-提示</title>
<base href="{:config('url.web1')}">
<script type="text/javascript" src="static/vendor/jquery.js?{:staticCache()}"></script>
<link rel="stylesheet" type="text/css" href="static/common/iconfont/iconfont.css?{:staticCache()}">
<link rel="stylesheet" type="text/css" href="static/common/iconfont/iconfont.extra.css?{:staticCache()}">
<link rel="stylesheet" type="text/css" href="static/common/css/Tip.css?{:staticCache()}">
<script type="text/javascript">
$(function () {
  height();
  $(window).on({resize: height});
  function height () {
    $('.tip').height($(window).height() - 100);
  }
});
</script>
</head>

<body>
<div class="tip">
  <p class="iconfont icon-tip-{$Kind}"></p>
  <p>{$Tip}</p>
  {if condition="$Kind=='succeed'"}
  {if condition="$Type==0"}
  <p class="location"><a href="{$Url}">{$A}</a></p>
  <script type="text/javascript">setTimeout("location.href='{$Url}'",{$Refresh}*1000);</script>
  {/if}
  {elseif condition="$Kind=='failed'"/}
  {if condition="$Type==0"}
  <p class="location"><a href="javascript:history.go(-1)">{$A}</a></p>
  <script type="text/javascript">setTimeout('history.go(-1)',{$Refresh}*1000);</script>
  {elseif condition="$Type==1"/}
  <p class="location"><a href="{$Url}">{$A}</a></p>
  <script type="text/javascript">setTimeout("location.href='{$Url}'",{$Refresh}*1000);</script>
  {/if}
  {/if}
</div>
</body>
</html>