<script type="text/javascript" src="static/library/jquery/color_picker.js?{:staticCache()}"></script>
<script type="text/javascript" src="static/admin/js/{:parse_name(request()->controller())}_form.js?{:staticCache()}"></script>

<form method="post" action="" class="form layui-form {:request()->action()}" onsubmit="return false;">
  <table>
    <tr><td>背景颜色：</td><td><input type="text" name="bg_color" class="text"></td></tr>
    <tr><td>边框颜色：</td><td><input type="text" name="border_color" class="text"></td></tr>
    <tr><td>按钮颜色：</td><td><input type="text" name="button_color" class="text"></td></tr>
    <tr><td>下拉框选中背景颜色：</td><td><input type="text" name="select_current_bg_color" class="text"></td></tr>
    <tr class="tip"><td></td><td>颜色值可以为：表示颜色的英文单词，如red；16进制的颜色代码，如#FF0000；10进制的颜色代码，如rgb(255,0,0)。</td></tr>
  </table>
</form>