@charset "utf-8";
.form table,.form table:nth-child(1) tr td:nth-child(1),.form table:nth-child(2) tr td:nth-child(1),.form table:nth-child(2) tr td:nth-child(2){
    width:auto;
}
.form table:nth-child(2) tr td{
    padding:2px 10px 2px 0;
    text-align:left;
}
.form table:nth-child(2) tr td:nth-child(3){
    color:#333;
    font-size: 14px;
}