@charset "utf-8";
/*
@Name：《昱杰后台UI框架》
@Author：风形火影
@Site：https://www.yjrj.top
*/
.licence{
    width:700px;
    max-width: 95%;
    margin:0 auto;
    padding: 0 0 10px 0;
    background:#FFF;
}
.licence h1{
    font-size:20px;
    padding:10px 0 10px 5px;
    margin: 0;
}
.licence div{
    width:670px;
    max-width: 95%;
    height:480px;
    margin:0 auto;
    border:1px solid #eee;
    padding:8px;
    overflow-y:scroll;
}
.licence div h2{
    font-size:18px;
    text-align:center;
    font-weight:bold;
    margin:0 0 10px 0;
    padding:0;
}
.licence div h3{
    font-size:16px;
    font-weight:bold;
    margin:10px 0;
    padding:0;
}
.licence div p{
    text-indent:27px;
    margin: 0 0 5px 0;
}
.licence div ol li{
    margin:0 0 5px 35px;
    list-style:decimal;
}
.licence p.button{
    margin:10px 0 0 0;
    text-align: center;
}