{extend name="../../common/view/public/base" /}

{block name="title"}模板{/block}

{block name="head"}<script type="text/javascript">
CONFIG['PAGE_SIZE'] = {:config('app.page_size')};
CONFIG['TOTAL'] = {$Total};
CONFIG['LIST'] = window.location;
CONFIG['ADD'] = '{:url("/".parse_name(request()->controller())."/add")}';
CONFIG['ADD_DO'] = '{:url("/".parse_name(request()->controller())."/add",["action"=>"do"])}';
CONFIG['UPDATE'] = '{:url("/".parse_name(request()->controller())."/update")}';
CONFIG['UPDATE_DO'] = '{:url("/".parse_name(request()->controller())."/update",["action"=>"do"])}';
CONFIG['DELETE'] = '{:url("/".parse_name(request()->controller())."/delete")}';
CONFIG['IS_DEFAULT'] = '{:url("/".parse_name(request()->controller())."/isDefault")}';
CONFIG['CODE'] = '{:url("/".parse_name(request()->controller())."/code")}';
</script>{/block}

{block name="main"}
<div class="tool">
  <div class="row1">
    <h2>模板管理</h2>
  
    <input type="hidden" name="ids">
  
    <div class="button">
      {if condition="isPermission('add')"}<input type="button" value="添加模板" class="button add">{/if}
      {if condition="isPermission('delete')"}<input type="button" value="批量删除" class="button disabled must_select delete" disabled>{/if}
    </div>
  
    <form method="get" action="" class="search layui-form" onsubmit="return false;">
      <div class="search-text"><input type="text" name="keyword" value="{:input('get.keyword')}" class="text"><span class="iconfont icon-search"></span></div>
    </form>
  
    <p class="clear"></p>
  </div>
</div>

<div class="list">
  {if condition="$Total>0"}
  <table class="{if condition="isPermission('delete')"}left-fix{/if} right-fix">
    <thead>
      <tr class="row1">{if condition="isPermission('delete')"}<th style="width:60px;"><div class="check-box"><label><input type="checkbox" class="all">全选</label></div></th>{/if}<th style="width:130px;">模板名</th><th style="width:130px;">使用模板</th><th style="width:80px;">皮肤样式</th><th style="width:80px;">订单查询</th><th style="width:80px;">发货通知</th><th style="width:80px;">验证码</th>{if condition="isPermission('isDefault')"}<th style="width:80px;">是否默认</th>{/if}<th style="width:80px;">添加时间</th><th style="width:95px;">操作</th></tr>
    </thead>
    <tbody class="items"></tbody>
  </table>

  <div class="pagination"><ul></ul></div>
  {else/}
  <p class="nothing"></p>
  {/if}
</div>
{/block}

{block name="right"}
<div class="right">
  <h3>温馨提示 <span class="iconfont icon-fold"></span></h3>
  <ul>
    <li>模板设置默认后，在后台添加订单时将默认采用此模板勾选的字段进行验证。</li>
  </ul>

  <span class="iconfont icon-expand color"></span>
</div>
{/block}